@model IEnumerable<ElCuernoVip.Models.Productos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urlfoto_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorias.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tamanos.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urlfoto_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorias.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tamanos.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Producto }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Producto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Producto })
        </td>
    </tr>
}

</table>
